body{
	padding: 0px;
	margin: 0px;
	background-color: #34495e;
	min-width: 900px;
}
#wrapper{
	width: 100%;
	height: 100%;
	min-width: 900px;
}
#header{
	/*background-color: #34495e;*/
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	color: #ecf0f1;
	position: absolute;
	z-index: 1000;
	/*min-width: 1200px;*/
	width: 100%;
	font-family: 'Lato', sans-serif;
    font-weight: 100; 
    font-size: 4.5em;
    opacity: .8;
}
#headerTitle{
	padding: 10px;
	/*width: 100%;*/
}
input:focus,
select:focus,
button:focus {
    outline: none;
}
#inner{
	padding: 0px;
	min-width: 900px;
	margin-top: 15%;
	padding-top: 25px;
	position: absolute;
	width: 100%;
	z-index: 1000;
}
#topSpan{
	padding: 5px 20px 20px 20px;
	color: white;
	font-size: 25px;
	font-family: 'Lato', sans-serif;
    font-weight: 400; 
}
.top{

}
.bottom a{
	
}
#bottomSpan{
	padding: 5px 20px 20px 20px;
	color: white;
	font-size: 12px;
}
#textareas{
	padding: 5px 20px 20px 20px;
}
#sourceHeader{
	float: left;
}
#leftSide{
	float: left;
	width: 49%;
}
#documentUpload, #documentExport, #viewMetrics{
	cursor: pointer;
}
#documentUpload:hover, #documentExport:hover, #viewMetrics:hover{
	opacity: .8;
}
#rightSide{
	float: right;
	width: 49%;
}
#source{
	font-size: 22px;
	display: block;
	padding: 0px;
	width: 100%;
	height: 130px;
	overflow-y: hidden; 
	overflow-x: auto; 
	padding-right: 10px; 
	resize: none;
	background-color: #ecf0f1;
}
#result{
	/*filter: blur(2px);
  	-webkit-filter: blur(2px);
  	-moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);*/
	font-size: 22px;
	background-color: #bdc3c7;
	display: block;
	padding: 0px;
	width: 100%;
	height: 130px;
	overflow-y: hidden; 
	overflow-x: auto; 
	padding-right: 10px; 
	resize: none;
}
#leftTitle,
#rightTitle,
#leftFooter,
#rightFooter{
	color: #ecf0f1;
}

/*#leftTitle,
#rightTitle{
	height: 40px;
}*/

#leftTitle,
#rightTitle{
	font-size: 2em;
}
#bottomButtonField{
	display: block;
	margin-top: 200px;
}
#stupifyButton{
	padding: 12px;
	background-color: #2c3e50;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-size: 100px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin: 0 auto;
    display: block;
    opacity: .7;
    font-family: 'Lato', sans-serif;
    font-weight: 400; 
}
#stupifyButton:hover{
	opacity: 1;
}

canvas {
	/*#333 #34495e*/
  filter: blur(3px);
  -webkit-filter: blur(3px);
  min-width: 900px;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  background: #34495e;
  position: absolute;
  z-index: 1;
}